
/***********NAV************/
.menu{
    height: 100vh;
    width: 100%;
    background-image: url(/css/assets/images/back-to-the-future.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flexbox;
    justify-content: center;
    align-items: center;
    position: relative;    
    
}
.menu_list a:hover {
    background-color:rgb(241,192,58);
    border-radius: 5px;
    color:white
}

/***********FORMULARIO************/
.Contacto{
    font-size: 1.5rem;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0,0.3);
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.enviar_mensaje , .mas_informacion {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.input{
    margin: 15px 0;

}
.mas_informacion{
    margin-top: 150px;
}
.footerder , .footerizq{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
 
}





/************FOOTER***********/