/***********RESET***********/





/********SITE STYLES*********/





/***********NAV************/
.menu{
    height: 100vh;
    width: 100%;
    background-image: url(/css/assets/images/back-to-the-future.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flexbox;
    justify-content: center;
    align-items: center;
    position: relative;    
    
}



    



/************FOOTER***********/