/***********RESET***********/



p { 
  text-align: justify;
   margin: 10px;
}

h2{
   margin: 15px;
   padding:0%;
   background-color: rgb(17,56,103);
}




/********SITE STYLES*********/


 

/***********NAV************/
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333; 
  padding: 10px 0;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.menu_list {
  list-style: none;
  display: flex;
  justify-content: center; 
  margin: 0;
  padding:15px 0;
  gap: 20px; 
}

.menu_list li {
  margin: 0;
}

.menu_list a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.menu_list a:hover {
  background-color: rgb(149,226,251);
  border-radius: 5px;
  color:rgb(24,92,189)
}
  





/************FOOTER***********/